<!--
 Copyright 2009 RDR

 This file is part of RDR.
 
 RDR is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 RDR is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 
 Date: 2009-09-3 14:14:29 +5300 (Thus, 25 Sept 2009)
-->

<!-- Sample View -->

<table>
<td align="center">
	<p align="center"><font size="3" face="Trebuchet MS" color="#356AA0">You are in <b>Index</b> action of <b>Test1</b> controller</font></p>
	<%= link_to 'Back', :controller => 'dynamic_routs', :action => 'list' %>
</td>
</table>